# Environments / IDE
.vscode/

# Legacy / Unused Scripts
/update.bat
/build.ps1
/bkp_*

# Builds / Releases
/Release/
*.zip
*.7z
*.rar

# Logs & App Data
/logs/
*.log

# System & Event Data
*.dmp
*.evtx
*Report.txt

# Temp & PowerShell data files
*.bak
*.tmp
*.csv
*.clixml
